/* Header */

.header a {
    color: #333;
}

.header .sign-up {
    display: flex;
    justify-self: flex-end;
}

.header .language {
    padding: 0 10px;
}

.header .grid {
    grid-template-columns: 60% 40%;
}

.header .grid>*:nth-child(2) {
    justify-content: flex-end;
}

.header .flex {
    justify-content: space-between;
}

.header img {
    width: 55%;
}

.header input[type='text'] {
    border: 1px solid #ced0da;
    width: 225px;
    height: 30px;
}

.header input::placeholder {
    padding: 0 10px;
    color: #bab0ae;
}


/* NavBar  */

.navbar .flex {
    justify-content: space-around;
}

.navbar .border-left {
    flex: 1 1 auto;
    position: relative;
    text-align: center;
    border: 0;
    border-left: 1px solid #fff;
}

.navbar .border-none {
    flex: 1 1 auto;
    position: relative;
    text-align: center;
    border: 0;
}


/* Slide */

.slideshow-container {
    width: 100%;
    position: relative;
}

.slideshow-container img {
    height: 500px;
}

.slideshow-container .dot {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.slideshow-container .dot-section {
    position: absolute;
    bottom: 18px;
    left: 50%;
}

.slideshow-container .book-form {
    width: 350px;
    height: 340px;
    left: 70%;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    opacity: 1;
    gap: 0px;
    justify-content: flex-start;
}

.slideshow-container .book-form>*:not(:first-child) {
    padding: 0 10px;
}

.book-form .book-header>*:first-child {
    background-color: var(--third-color);
}

.book-form .book-header {
    text-align: center;
    grid-template-rows: 1fr;
    grid-template-columns: 60% 40%;
    gap: 0px;
}

.book-form .book-header h3 {
    height: inherit;
    padding-top: 10px;
}

.book-form .book-mode {
    justify-content: space-between;
    text-align: center;
}

.book-form .book-mode a {
    padding: 5px;
    width: 100%;
}

.dropdown-container {
    height: 85%;
    width: 100%;
}

.btn-container {
    justify-self: end;
}

.btn-sell {
    border-radius: 0%;
    background-color: var(--third-color);
}

.movie-showcase-header {
    font-weight: 500;
    color: var(--fourth-color);
}

.movie-showcase-header .container {
    padding: 0;
}

.movie-showcase-header .movie-home .grid-cl {
    gap: 0;
    justify-content: start;
}

.movie-showcase-header .movie-home ul>*:nth-child(3) {
    color: #fff;
}

.movie-showcase-header .movie-home li {
    padding: 15px;
}

.movie-showcase-header .movie-home li a {
    color: var(--fourth-color);
}

.movie-showcase-header .movie-home li a:hover {
    color: #333;
}

.movie-showcase-header .movie-home .border-bottom {
    border-bottom: 2px solid var(--shallow-dark);
}

.movie-showcase-header .movie-home .border-bottom:hover:nth-child(-n+2) {
    border-bottom: 2px solid var(--third-color);
}

.movie-showcase-header .hot-news-icon {
    display: inline-block;
    width: 148px;
    height: 55px;
    vertical-align: middle;
}

.movie-showcase-header .hot-news-description {
    display: inline-block;
}

.movie-showcase-card .grid {
    grid-template-columns: repeat(3, 1fr);
}

.movie-showcase-card .container {
    max-width: 1365px;
    overflow: hidden;
}

.movie-showcase-card img {
    width: 100%;
    height: 82%;
    cursor: pointer;
}

.movie-showcase-card .book-film {
    position: absolute;
    top: 20px;
    height: 73.1%;
    width: 90.9%;
    opacity: 0;
}

.movie-showcase-card .book-film button {
    position: relative;
    top: 40%;
    left: 35%;
    background-color: Transparent;
    background-repeat: no-repeat;
    height: 43px;
    width: 122px;
}

.movie-showcase-card .book-film span {
    position: relative;
    top: 30%;
    left: 46%;
}

.movie-showcase-card .book-film:hover {
    opacity: 1;
    background-color: var(--shallow-dark);
}

.movie-showcase-card .film-description-vi {
    color: var(--fourth-color);
}

.movie-showcase-card .btn-read-more {
    margin: 0px 77px;
    float: right;
    color: var(--third-color);
    border: 2px solid var(--third-color);
}

.movie-showcase-card .btn-read-more:hover {
    color: #fff;
    background-color: var(--third-color);
}